# Docker Configuration
DOCKER_IMAGE=dukerupert/a-team-asphalt:latest
LISTEN_PORT=3000

# Application
PORT=80

# Email Configuration (Postmark)
POSTMARK_TOKEN=your-postmark-server-token
POSTMARK_FROM=noreply@ateamasphalt.com
ESTIMATE_TO=gary@ateamasphalt.com
